<div class="container w-50"> 
    <h2 class="text-center text-uppercase pt-4">conatct section</h2>
    <div class="pb-3 star text-center text-white m-auto">
        <i class="fa-solid fa-star"></i>
    </div>
    <div class="p-5">
        <div class="mb-3">
            <label for="" class="form-label"></label>
            <input
                type="text"
                class="form-control-plaintext border-bottom rounded-bottom-3"
                name=""
                id=""
                aria-describedby="helpId"
                placeholder="userName"
            />
        </div>
        <div class="mb-3">
            <label for="" class="form-label"></label>
            <input
                type="number"
                class="form-control-plaintext border-bottom rounded-bottom-3"
                name=""
                id=""
                aria-describedby="helpId"
                placeholder="userAge"
            />
        </div>
        <div class="mb-3">
            <label for="" class="form-label"></label>
            <input
                type="email"
                class="form-control-plaintext border-bottom rounded-bottom-3"
                name=""
                id=""
                aria-describedby="helpId"
                placeholder="userEmail"
            />
        </div>
        <div class="mb-3">
            <label for="" class="form-label"></label>
            <input
                type="password"
                class="form-control-plaintext border-bottom rounded-bottom-3"
                name=""
                id=""
                placeholder="userPassword"
            />
        </div>
        <input
            name=""
            id=""
            class="btn btn-primary button-color"
            type="button"
            value="send message"
        />

    </div>
</div>