<div class="top-footer-bg text-white py-5">
    <div class="container py-4">
        <div class="row text-center gy-5" >
            <div class="col-sm-2 col-md-4 mb-3">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>

            <div class="col-sm-2 col-md-4 mb-3">
                <h3>AROUND THE WEB</h3>
                <div class="w-50 m-auto">
                    <ul class="d-flex list-unstyled justify-content-between">
                        <li>
                            <span class="fa-stack fa-1x">
                                <i class="fa-regular fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook fa-inverse"></i>
                            </span>
                        </li>

                        <li>
                            <span class="fa-stack fa-1x">
                                <i class="fa-regular fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-inverse"></i>
                            </span>
                        </li>

                        <li>
                            <span class="fa-stack fa-1x">
                                <i class="fa-regular fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin fa-inverse"></i>
                            </span>
                        </li>

                        <li>
                            <span class="fa-stack fa-1x">
                                <i class="fa-regular fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-globe"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-2 col-md-4 mb-3">
                <h3>ABOUT FREELANCER</h3>
                <p class="">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>

<div class="bot-footer-bg text-center text-white py-3">
    <p>Copyright © Your Website 2021</p>
</div>